$color-active: hsl(200, 100%, 50%);
$color-hover: hsl(200, 100%, 75%);
$color-darkest: #101010;
$color-lightest: #faf9f6;
$color-error: #8b0000;
$color-success: #006400;

$font: 'AmericanTypewriter', helvetica;

$gutter: 1rem;