$color: #dbdbdb;
$color-primary: #cb6b1d;
$color-alt: #555555;
$color-footerheader: #c0c0c0;
$color-darkest: #101010;
$color-lightest: #faf9f6;
$color-error: #8b0000;
$color-success: #006400;

$font: 'American Typewriter', sans-serif;

$gutter: 1rem;